@font-face {
    font-family: 'Inter';
    font-display: swap;
    src: url('../../../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('opentype');
}

@font-face {
    font-family: 'Lora';
    font-display: swap;
    src: url('../../../assets/fonts/Lora/Lora-VariableFont_wght.ttf') format('opentype');
}

@font-face {
    font-family: 'Parisienne';
    font-display: swap;
    src: url('../../../assets/fonts/Parisienne/Parisienne-Regular.ttf') format('opentype');
}
