/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: $background-alternative-color;
    color: $font-color;
    padding: 1rem;

    a {
        color: orangered;
    }

    .social {
        font-size: 2rem;
    }
}

