/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora&family=Parisienne&display=swap');

@import 'fonts';
$heading-font-family: 'Inter', sans-serif;
$text-font-family: 'Lora', serif;
$accent-font-family: 'Parisienne', cursive;

html {
    font-size: 100%;
}

body {
    line-height: $base-line-height;
}

h1 {
    font-size: 3em;
    color: $accent-color;
    margin-bottom: $magic-number * 2;
    font-family: $accent-font-family;
    font-weight: 400;
    // font-family: $heading-font-family
}

p,
li {
    font-size: $base-font-size;
    margin-bottom: $magic-number;
    font-family: $text-font-family;
}

.header {
    a {
        text-decoration: none;
    }

    li {
        font-size: $base-font-size * 1.4;
        font-family: $accent-font-family;
        text-decoration: underline;
    }

    h1,
    p {
        margin: 0;
    }

    p {
        font-style: italic;
    }
}

.footer {
    p {
        font-family: $accent-font-family;
        font-size: $base-font-size * 1.4;
        margin: 0;
    }
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}

p,
td,
th,
li,
dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
