/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora&display=swap');

html {
    font-size: 100%;
}

body {
    line-height: $base-line-height
}

h1 {
    font-size: 3em;
    margin-bottom: $magic-number * 2;
    font-family: $heading-font-family
}

p, li {
    font-size: $base-font-size;
    margin-bottom: $magic-number;
    font-family: $text-font-family
}

.main {
    max-width: 70rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 0 auto;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

img {
    max-width: 100%;
}