/* Variables */
$font-color: #333;
$font-alternative-color: #fff;
$accent-color: orangered;
$background-color: #e0fbfc;
$background-alternative-color: #3d5a80;

$base-line-height: 1.4;
$base-font-size: 1.1rem;
$magic-number: $base-line-height * $base-font-size;

$heading-font-family: 'Inter', sans-serif;
$text-font-family: 'Lora', serif;